src/main/mule/global/travelontip-externalsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
<flow name="travelontip-externalsystemFlow" doc:id="a21dd23a-8e34-4634-ae8f-82136bb4e74e" >
		<http:listener doc:name="Listener" doc:id="0cf94a09-246e-4094-8aeb-ab3851be1e6f" config-ref="HTTP_Listener_config" path="${http.listner.path}">
			<http:error-response statusCode="#[vars.statusCode as Number]" >
				<http:body ><![CDATA[#[vars.errorMsg default "critical Error"]]]></http:body>
			</http:error-response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="999da5cc-1fd3-4141-af5f-e670e575a47b" message="Request recieved for TravelOnTip ExternalSystem for TransactionID: #[attributes.headers.transactionId]"/>
		<ee:transform doc:name="Transform Message" doc:id="673b4011-ab69-40af-9bd3-70ddddad98bf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="serviceType" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.serviceType]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="7715e0b8-4af8-4287-abed-fe88b9fcebf2" >
			<when expression='#[vars.serviceType == "routes"]'>
				<logger level="INFO" doc:name="Logger" doc:id="25752451-a1f4-43b4-8056-d26fb9663042" message="Routes flow called for TravelOnTip ExternalSystem For TransactionId: #[attributes.headers.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="9a4c3e64-a6f4-47c5-b71e-41032d9b38de" name="TravelOnTip-GetRoutes-implementationSub_Flow"/>
			</when>
			<when expression='#[vars.serviceType == "schedules"]'>
				<logger level="INFO" doc:name="Logger" doc:id="1a709a05-5583-4750-b534-9f8c8341276e" message="Schedules flow called for TravelOnTip ExternalSystem For TransactionId: #[attributes.headers.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="39ba9ac8-2d09-49d0-8678-365bc0aaa2b8" name="TravelOnTip-GetSchedules-implementationSub_Flow" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="ec5edff1-34e2-40ac-b0f9-760b925f6f8b" message="Uri Parameter is not correct for TravelOnTip ExternalSystem For TransactionId: #[attributes.headers.transactionId]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="1af4298e-27f6-4aaf-846c-3367b2cf2dde" message="Response send for TravelOnTip ExternalSystem for TransactionID: #[attributes.headers.transactionId]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="bd25cf95-db12-47cb-8fee-01c98839da5c" >
				<logger level="INFO" doc:name="Logger" doc:id="13f28358-40bd-448f-9f84-719d66b1302a" message="Error Occured for TravelOnTip ExternalSystem"/>
				<ee:transform doc:name="Transform Message" doc:id="7f842735-2ad0-4fd3-89f6-d24bcd17b3e3" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="statusCode" ><![CDATA[%dw 2.0
output application/json
---
500]]></ee:set-variable>
						<ee:set-variable variableName="errorMsg" ><![CDATA[%dw 2.0
output application/java
---
{ "ErrorMessage": "Error in TravelOnTip External System "
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
